html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin-top: var(--navbar-height, 0px);
  color: #fff;
  background-color: #000;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}