.imageContainer {
    position: relative;
    padding: 0px 20px;
    width: 100%;
    overflow: hidden;

    @media (min-width: 1080px) {
        height: 93vh;
    }
}

.imageContainer img {
    width: 100%;
    height: 100%;
}


.textOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    width: 100%;
    height: 90%;
    color: #FFF;
}