.backgroundImage {
    background-image: url('/Mission_01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.imageWrapper {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.imageBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 200ms ease-in-out;

    .imageWrapper:hover & {
        opacity: 0.25;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 450ms ease-in-out;
    font-size: 18px;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

    .imageWrapper:hover & {
        opacity: 1;
        transform: translateY(0);
    }
}