.nav {
    font-size: 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 15px;
}

.video {
    width: 100%;
    height: auto;
    /* filter: blur(1px); */
}